## Web  Scraping  Assignment- 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = 
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:                                        
A) Rank                                                          
B) Name                                
C) Artist                                          
D) Upload date                                          
E) Views

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

import warnings 
warnings.filterwarnings('ignore')
import time

import re 
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
driver= webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
Rank=[]

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

print(len(Rank))

30

In [5]:
Name=[]

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
len(Name)

30

In [6]:
Artist=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')
len(Artist)

30

In [7]:
Upload_Date=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')
len(Upload_Date)

30

In [8]:
Views=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')
    
len(Views)

30

In [47]:
dfy=pd.DataFrame({'Rank':Rank,'Name':Name,"Artist":Artist,"Upload_Date":Upload_Date,"Views":Views})
dfy.index=range(1,len(dfy)+1)
dfy

,Rank,Name,Artist,Upload_Date,Views
1,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
2,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.23
3,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
4,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,"May 2, 2018",6.33
5,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.05
6,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",5.98
7,7.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,"May 24, 2018",5.46
8,8.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,"March 6, 2014",5.42
9,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.00
10,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,"February 27, 2018",4.94
11,11.,"""Gangnam Style""[30]",Psy,"July 15, 2012",4.86
12,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,"January 31, 2012",4.55
13,13.,"""Dame Tu Cosita""[36]",El Chombo,"April 5, 2018",4.41
14,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.00
15,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.91
16,16.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.84
17,17.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.84
18,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,"June 25, 2018",3.73
19,19.,"""Sorry""[42]",Justin Bieber,"October 22, 2015",3.69
20,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.68
21,21.,"""Thinking Out Loud""[44]",Ed Sheeran,"October 7, 2014",3.63
22,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.63
23,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.56
24,24.,"""Perfect""[47]",Ed Sheeran,"November 9, 2017",3.51
25,25.,"""Faded""[48]",Alan Walker,"December 3, 2015",3.49
26,26.,"""Let Her Go""[49]",Passenger,"July 25, 2012",3.48
27,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
28,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.45
29,29.,"""Bailando""[52]",Enrique Iglesias,"April 11, 2014",3.43
30,30.,"""Lean On""[53]",Major Lazer,"March 22, 2015",3.43

In [53]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.

You need to find following details:                                   
A) Match title (I.e. 1 ODI)                                                  
B) Series                                             
C) Place                                        
D) Date                                      
E) Time                               

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [51]:
driver= webdriver.Chrome()

In [13]:
driver.get('https://www.bcci.tv/')

In [35]:
Match_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Match_title.append(i.text.replace('-',""))
except NoSuchElementException:
    Match_title.append('-')
    
len(Match_title)

8

In [36]:
Series=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
len(Series)

8

In [37]:
Place=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    
len(Place)

8

In [44]:
Date=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
len(Date)

8

In [45]:
Time=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')
    
len(Time)

8

In [46]:
dfc=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
dfc.index=range(1,len(dfc)+1)
dfc

,Match_title,Series,Place,Date,Time
1,1st T20I,Dublin,"The Village,",18 AUG 2023,7:30 PM IST
2,2nd T20I,Dublin,"The Village,",20 AUG 2023,7:30 PM IST
3,3rd T20I,Dublin,"The Village,",23 AUG 2023,7:30 PM IST
4,1st ODI,Pallekele,"Pallekele International Cricket Stadium,",2 SEP 2023,10:00 AM IST
5,2nd ODI,Pallekele,"Pallekele International Cricket Stadium,",4 SEP 2023,10:00 AM IST
6,1st ODI,Mohali,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
7,2nd ODI,Indore,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
8,3rd ODI,Rajkot,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST

In [49]:
driver.close()

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/

You have to find following details:                                   
A)Rank                         
B) State                                      
C) GSDP(18-19)- at current prices                               
D) GSDP(19-20)- at current prices                                         
E) Share(18-19)                                        
F) GDP($ billion)                                   

Note: - From statisticstimes home page you have to reach to economy page through code.

In [54]:
driver= webdriver.Chrome()

In [56]:
driver.get('https://statisticstimes.com/')

In [57]:
driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button").click()
driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]').click()

In [58]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li/a')
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

In [59]:
Rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
len(Rank)

33

In [60]:
State=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
len(State)

33

In [61]:
GDPs=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[8]'):
        GDPs.append(i.text)
except NoSuchElementException:
    GDPs.append('-')
len(GDPs)

33

In [62]:
GDP=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[3]'):
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')
len(GDP)

33

In [63]:
Share=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')
len(Share)

33

In [64]:
GDPa=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[6]'):
        GDPa.append(i.text)
except NoSuchElementException:
    GDPa.append('-')
    
len(GDPa)

33

In [65]:
dfgdp=pd.DataFrame({'Rank':Rank,"State":State,"GSDP(18-19)- at current prices":GDPs,"GSDP(19-20)- at current prices":GDP,"Share":Share,"GDP($ billion)":GDPa})
dfgdp.index=range(1,len(dfgdp)+1)
dfgdp

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share,GDP($ billion)
1,1,Maharashtra,"2,039,074",-,13.94%,399.921
2,2,Tamil Nadu,"1,215,307","1,845,853",8.63%,247.629
3,3,Uttar Pradesh,"1,123,982","1,687,818",8.39%,240.726
4,4,Gujarat,"1,186,379",-,7.96%,228.290
5,5,Karnataka,"1,091,077","1,631,977",7.91%,226.806
6,6,West Bengal,"739,525","1,253,832",5.77%,165.556
7,7,Rajasthan,"677,428","1,020,989",4.99%,143.179
8,8,Andhra Pradesh,"621,301","972,782",4.57%,131.083
9,9,Telangana,"612,828","969,604",4.56%,130.791
10,10,Madhya Pradesh,"522,009","906,672",4.29%,122.977
11,11,Kerala,"559,412",-,4.14%,118.733
12,12,Delhi,"590,569","856,112",4.10%,117.703
13,13,Haryana,"531,085","831,610",3.89%,111.519
14,14,Bihar,"375,651","611,804",2.81%,80.562
15,15,Punjab,"397,669","574,760",2.79%,79.957
16,16,Odisha,"376,877","521,275",2.58%,74.098
17,17,Assam,"234,048",-,1.67%,47.982
18,18,Chhattisgarh,"231,182","329,180",1.61%,46.187
19,19,Jharkhand,"224,986","328,598",1.57%,45.145
20,20,Uttarakhand,"193,273",-,1.30%,37.351
21,21,Jammu & Kashmir,"112,755",-,0.83%,23.690
22,22,Himachal Pradesh,"117,851","165,472",0.81%,23.369
23,23,Goa,"57,787","80,449",0.39%,11.115
24,24,Tripura,"36,963","55,984",0.26%,7.571
25,25,Chandigarh,"31,192",-,0.22%,6.397
26,26,Puducherry,"23,013","38,253",0.18%,5.230
27,27,Meghalaya,"24,682","36,572",0.18%,5.086
28,28,Sikkim,"18,722","32,496",0.15%,4.363
29,29,Manipur,"19,300","31,790",0.15%,4.233
30,30,Nagaland,"17,647",-,0.14%,4.144
31,31,Arunachal Pradesh,"16,676",-,0.13%,3.737
32,32,Mizoram,"16,478","26,503",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-

In [66]:
driver.close()

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details: 

A) Repository title                          
B) Repository description                             
C) Contributors count                   
D) Language used                        

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [3]:
driver= webdriver.Chrome()

In [35]:
driver.get('https://github.com/')

In [36]:
links=[]
link=driver.find_elements(By.XPATH,'//h2/a')
for i in link:
    links.append(i.get_attribute("href"))
    
len(links)

25

In [37]:
Repository_name=[]
rt=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in rt:
    Repository_name.append(i.text)
    
len(Repository_name)

25

In [45]:
Repository_description=[]
rt=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in rt:
    Repository_description.append(i.text)
    
len(Repository_description)

25

In [27]:
Contributors_count=[]
for i in links:
    driver.get(i)
    time.sleep(0.1)
    try:
        cc=driver.find_element(By.XPATH,'//a/span[@class="Counter ml-1"][@title!=0]')
        Contributors_count.append(cc.text)
    
    except NoSuchElementException:
        Contributors_count.append('1')
        
len(Contributors_count)

25

In [28]:
Languages_used=[]
for i in links:
    driver.get(i)
    time.sleep(0.1)
    try:
        lu=driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Languages_used.append(lu.text)
    
    except NoSuchElementException:
        Languages_used.append('-')
        
len(Languages_used)

25

In [47]:
dfg=pd.DataFrame({'Repository Name':Repository_name,'Repository Description':Repository_description,'Contributors Count':Contributors_count})
dfg.index=range(1,len(dfg)+1)
dfg

,Repository Name,Repository Description,Contributors Count
1,getumbrel /,"A self-hosted, offline, ChatGPT-like chatbot. ...",2
2,elidianaandrade /,Repositório do lab Contribuindo em um Projeto ...,271
3,apple /,This repository contains the official implemen...,2
4,alibaba /,阿里巴巴 MySQL binlog 增量订阅&消费组件,191
5,LorisYounger /,"虚拟桌宠模拟器 一个开源的桌宠软件, 可以内置到任何WPF应用程序",5
6,systeminit /,The System Initiative software,16
7,ubicloud /,"Open, free, and portable cloud. Elastic comput...",8
8,ill-inc /,Biomes is an open source sandbox MMORPG built ...,8
9,1Panel-dev /,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,29
10,taojy123 /,类似按键精灵的鼠标键盘录制和自动化操作 模拟点击和键入 | automate mouse c...,4
11,jiran214 /,GPT-vup BIliBili | 抖音 | AI | 虚拟主播,1
12,SkyAsor /,Save time and maximize your profits with our J...,1
13,bellard /,Public repository of the QuickJS Javascript En...,1
14,rany2 /,Use Microsoft Edge's online text-to-speech ser...,6
15,ibaiw /,2023 HVV情报速递~,1
16,wangshusen /,搜索引擎原理,1
17,diegomura /,📄 Create PDF files using React,109
18,roboflow /,We write your reusable computer vision tools. 💜,17
19,xxlllq /,💯2023年系统架构设计师（软考高级）备考资料。,1
20,opentffoundation /,The OpenTF Manifesto expresses concern over Ha...,258
21,Kotlin /,Kotlin multiplatform / multi-format serialization,149
22,novuhq /,The open-source notification infrastructure wi...,8
23,apitable /,"🚀🎉📚 APITable, an API-oriented low-code platfor...",62
24,ververica /,CDC Connectors for Apache Flink®,101
25,lllyasviel /,Focus on prompting and generating,3

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

You have to find the following details: 

A) Song name                                                                 
B) Artist name                                       
C) Last week rank                                   
D) Peak rank                                
E) Weeks on board                        
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [48]:
driver=webdriver.Chrome()

In [49]:
driver.get('https://www.billboard.com/')

In [57]:
drop_down_menu=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[2]/a')
drop_down_menu.click()

In [59]:
charts_plus_button=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[2]/a')
charts_plus_button.click()

In [61]:
charts_100_button=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
charts_100_button.click()

In [66]:
Song_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3'):
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append('-')
    time.sleep(5)
    
len(Song_name)

100

In [71]:
Artist_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span'):
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')
    time.sleep(5)
len(Artist_name)

400

In [73]:
Artist_name=Artist_name[0:-1:4]
len(Artist_name)

100

In [74]:
Peak_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')
    time.sleep(5)  
len(Peak_rank)

100

In [75]:
Last_week_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')
    time.sleep(5)
len(Last_week_rank)

200

In [77]:
Last_week_rank=Last_week_rank[0:-1:2]
len(Last_week_rank)

100

In [79]:
Weeks_on_board=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('-')
    time.sleep(5)
len(Weeks_on_board)

200

In [80]:
Weeks_on_board=Weeks_on_board[1:400:2]
len(Weeks_on_board)

100

In [81]:
dfsong=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Peak_rank":Peak_rank,"Last_week_rank":Last_week_rank,"Weeks_on_board":Weeks_on_board})
dfsong.index=range(1,len(dfsong)+1)
dfsong

,Song_name,Artist_name,Peak_rank,Last_week_rank,Weeks_on_board
1,Last Night,Morgan Wallen,1,1,28
2,Fast Car,Luke Combs,2,2,20
3,Cruel Summer,Taylor Swift,3,4,14
4,Calm Down,Rema & Selena Gomez,4,6,49
5,Fukumean,Gunna,5,7,8
...,...,...,...,...,...
96,Lagunas,Peso Pluma & Jasiel Nunez,96,-,6
97,Overdrive,Post Malone,97,68,3
98,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,98,99,10
99,Dawns,Zach Bryan Featuring Maggie Rogers,99,-,15
100,Rubicon,Peso Pluma,100,-,6

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-                           

You have to find the following details:

6. Scrape the details of Highest selling novels. 
compare                            
A) Book name                                     
B) Author name                                                               
C) Volumes sold                                               
D) Publisher                                            
E) Genre

In [82]:
driver=webdriver.Chrome()

In [83]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [107]:
Book_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('-')
    time.sleep(5)
len(Book_name)

100

In [102]:
Author_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('-')
    time.sleep(5)
len(Author_name)

100

In [108]:
Volumes_sold=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('-')
    time.sleep(5)
    
len(Volumes_sold)

100

In [109]:
Publisher=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')
    time.sleep(5)
len(Publisher)

100

In [110]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)
    
len(Genre)

100

In [111]:
dfbook=pd.DataFrame({'Book_name':Book_name,"Author_name":Author_name,"Volumes_sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
dfbook.index=range(1,len(dfbook)+1)
dfbook

,Book_name,Author_name,Volumes_sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [112]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ 
    
You have to find the following details:                                        
A) Name                                     
B) Year span                                
C) Genre                                   
D) Run time                                     
E) Ratings                        
F) Votes

In [73]:
driver=webdriver.Chrome()

In [74]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [75]:
Name=[]
try:
    for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    time.sleep(5)
    
len(Name)

100

In [76]:
Year_span=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]'):
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append('-')
    time.sleep(5)
    
len(Year_span)

100

In [77]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)
    
len(Genre)

100

In [78]:

Run_time=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('-')
    time.sleep(5)
    
len(Run_time)

100

In [79]:
Ratings=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[2]'):
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('-')
    time.sleep(5)
    
len(Ratings)

100

In [80]:
Vote=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
        Vote.append(i.text)
except NoSuchElementException:
    Vote.append('-')
    time.sleep(5)
    
len(Vote)

100

In [81]:
dfs=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Vote":Vote})
dfs.index=range(1,len(dfs)+1)
dfs

,Name,Year_span,Genre,Run_time,Ratings,Vote
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,192,840"
2,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,630"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,860"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,931"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"265,002"
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,7.5,"52,416"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,448"
98,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,076"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,678"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,614"

In [82]:
driver.close()

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
    
You have to find the following details:                          
A) Dataset name                                      
B) Data type                              
C) Task                              
D) Attribute type                                
E) No of instances                    
F) No of attribute                                              
G) Year                                                                          
Note: - from the home page you have to go to the Show All Dataset page through code

In [92]:
driver=webdriver.Chrome()

In [121]:
driver.get('https://archive.ics.uci.edu/')

In [122]:
see_all_datasets_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/section[1]/div[2]/a').click()

In [113]:
links=[]
link=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in link:
    links.append(i.get_attribute('href'))

In [123]:
Dataset_name=[]
dn=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dn:
    Dataset_name.append(i.text)

In [124]:
Data_type=[]
Task=[]
Attribute_type=[]
Instances=[]
Attributes=[]
Year=[]
for i in links:
    driver.get(i)
    try:
        dt=driver.find_element(By.XPATH,'(//p[@class="text-md"])[1]')
        Data_type.append(dt.text)
    except NoSuchElementException:
        Data_type.append("-")
        
    try:
        t=driver.find_element(By.XPATH,'(//p[@class="text-md"])[3]')
        Task.append(t.text)
    except NoSuchElementException:
        Task.append("-")
        
    try:
        at=driver.find_element(By.XPATH,'(//p[@class="text-md"])[4]')
        Attribute_type.append(at.text)
    except NoSuchElementException:
        Attribute_type.append("-")
        
    try:
        instance=driver.find_element(By.XPATH,'(//p[@class="text-md"])[5]')
        Instances.append(instance.text)
    except NoSuchElementException:
        Instances.append("-")
        
    try:
        a=driver.find_element(By.XPATH,'(//p[@class="text-md"])[6]')
        Attributes.append(a.text)
    except NoSuchElementException:
        Attributes.append("-")
    
    try:
        y=driver.find_element(By.XPATH,'//h2[@class="text-primary-content"]')
        Year.append(y.text)
    except NoSuchElementException:
        Year.append("-")

In [125]:
len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(Instances),len(Attributes),len(Y)

(25, 25, 25, 25, 25, 25, 25)

In [127]:
dfuci=pd.DataFrame({"Dataset Name":DN,"Data Type":Data_type,"Task":Task,"Attribute Type":Attribute_type,"Instances":Instances,"Attributes":Attributes,"Year":Year})
dfuci.index=range(1,len(dfuci)+1)
dfuci

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attributes,Year
1,Iris,Multivariate,Classification,Real,150,4,Donated on 6/30/1988
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
3,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
4,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
5,Diabetes,"Multivariate, Time-Series","Categorical, Integer",20,-,-,-
6,Wine,Multivariate,Classification,"Integer, Real",178,13,Donated on 6/30/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,Donated on 10/5/2019
9,Car Evaluation,Multivariate,Classification,Categorical,1728,6,Donated on 5/31/1997
10,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987
11,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,Donated on 11/30/1995
12,Breast Cancer,Multivariate,Classification,Categorical,286,9,Donated on 7/10/1988
13,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,Donated on 11/16/1994
14,Glass Identification,Multivariate,Classification,Real,214,9,Donated on 8/31/1987
15,Wine Quality,Multivariate,"Classification, Regression",Real,4898,12,Donated on 10/6/2009
16,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
17,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,Donated on 7/14/1992
18,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,Donated on 7/6/1993
19,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7200,5,Donated on 12/31/1986
20,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,Donated on 5/18/1987
21,Bank Marketing,Multivariate,Classification,Real,45211,17,Donated on 2/13/2012
22,Spambase,Multivariate,Classification,"Integer, Real",4601,57,Donated on 6/30/1999
23,Predict students' dropout and academic success,Tabular,Classification,4424,36,-,Donated on 12/12/2021
24,Optical Recognition of Handwritten Digits,Multivariate,Classification,Integer,5620,64,Donated on 6/30/1998
25,Credit Approval,Multivariate,Classification,"Categorical, Integer, Real",690,15,-

In [128]:
driver.close()