# ASSIGNMENT-1
WEB SCRAPING

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\khushboo rani\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\khushboo rani\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\khushboo rani\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\khushboo rani\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\khushboo rani\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\khushboo rani\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\khushboo rani\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\khushboo rani\anaconda3\lib\site-packages (from requests) (3.3)

# Import Required Libraries

In [2]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

# 1. Write a python program to display all the header tags from wikipedia.org and make data frame.

In [3]:
# Send get request to the Webpage server to get the source code of the page 
page=requests.get('https://www.wikipedia.org/')
soup=BeautifulSoup(page.content)
page

Scraping Titles & Making DataFrame

In [4]:
titles=[]
for i in soup.find_all('span',class_="other-project-title jsl10n"):
    titles.append(i.text)
    
import pandas as pd
dfwiki=pd.DataFrame({'Titles':titles})   #----------------making DataFrame
dfwiki.index=np.arange(1,len(dfwiki)+1)  #---------------start indexing by 1
dfwiki

         Titles
1       Commons
2    Wikivoyage
3    Wiktionary
4     Wikibooks
5      Wikinews
6      Wikidata
7   Wikiversity
8     Wikiquote
9     MediaWiki
10   Wikisource
11  Wikispecies
12    Meta-Wiki

# 2. Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [5]:
# Send get request to the Webpage server to get the source code of the page 
page2 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup2=BeautifulSoup(page2.content)
page2

Scraping Data

In [6]:
a= soup2.find_all('div',class_="presidentListing")
name = []

for i in a:
    for j in i.find_all('h3'):
        name.append(j.text.replace('\n',''))

toi = []

for k in soup2.find_all('div',class_="presidentListing"):
    for h in k.find_all('p'):
        toi.append(h.text)
del toi[1:9:2]        #---------deleting unnecessary

Making DataFrame

In [7]:
presidentdf= pd.DataFrame({'Respected President Name':name, 'Term of Office':toi})
presidentdf.index = np.arange(1,len(presidentdf)+1)
presidentdf

,Respected President Name,Term of Office
1,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
2,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
3,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
4,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
5,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
6,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
7,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
8,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
9,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
10,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
11,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
12,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
13,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
14,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

# 3) Write a python program to scrape cricket rankings from icc-cricket.com You have to scrape and make data frame.
1. Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
2. Top 10 ODI Batsmen along with the records of their team and rating.
3. Top 10 ODI bowlers along with the records of their team and rating.

1.Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [8]:
# Send get request to the Webpage server to get the source code of the page 
page3a=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

soup3a=BeautifulSoup(page3a.content)
page3a

In [9]:
teams3a=[]
for i in soup3a.find_all('span',class_="u-hide-phablet"):
    teams3a.append(i.text)
print(len(teams3a))

20

In [10]:
match1=[]
for i in soup3a.find_all('td',class_="rankings-block__banner--matches"):
    match1.append(i.text)
match2=[]
for j in soup3a.find_all('td',class_="table-body__cell u-center-text"):
    match2.append(j.text)
del match2[1:39:2]    #deleting unwanted results

matches3a=match1+match2

print(len(matches3a))

20

In [11]:
point1=[]
for i in soup3a.find_all('td',class_="rankings-block__banner--points"):
    point1.append(i.text)
    
point2=[]
for j in soup3a.find_all('td',class_="table-body__cell u-center-text"):
    point2.append(j.text)
del point2[0:39:2]

points3a=point2+point1
print(len(points3a))

20

In [12]:
rating1=[]
for i in soup3a.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating1.append(i.text.replace('\n',''))

rating2=[]
for j in soup3a.find_all('td',class_="table-body__cell u-text-right rating"):
    rating2.append(j.text)
ratings3a=rating1+rating2
print(len(ratings3a))

20

Making DataFrame

In [13]:
df=pd.DataFrame({'Teams':teams3a,'Matches':matches3a,'Points':points3a,'Rating':ratings3a})  #Making DataFrame
df.index = np.arange(1,len(df)+1)
teamsdf=df.head(10)
teamsdf

,Teams,Matches,Points,Rating
1,Australia,23,"2,316",118 ...
2,Pakistan,20,"3,807",116
3,India,33,"2,806",115
4,New Zealand,27,"2,426",104
5,England,24,"1,910",101
6,South Africa,19,"2,451",101
7,Bangladesh,25,"2,378",98
8,Sri Lanka,28,"1,067",85
9,Afghanistan,13,"2,201",82
10,West Indies,32,"1,530",69

2.Top 10 ODI Batsmen along with the records of their team andrating.

In [14]:
# Send get request to the Webpage server to get the source code of the page 
page3b=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

soup3b=BeautifulSoup(page3b.content)

print(page3b)

<Response [200]>

In [15]:
player1=[]
for i in soup3b.find_all('div',class_="rankings-block__banner--name-large"):
    player1.append(i.text)


player2=[]
for j in soup3b.find_all('td',class_="table-body__cell rankings-table__name name"):
    player2.append(j.text.replace('\n',''))
players3b=player1+player2
print(len(players3b))

100

In [16]:
team1=[]
for c in soup3b.find_all('div',class_="rankings-block__banner--nationality"):
    team1.append(c.text.replace('\n',''))
    
team2=[]
for d in soup3b.find_all('span',class_="table-body__logo-text"):
    team2.append(d.text)
teams3b=team1+team2
print(len(teams3b))

100

In [17]:
rating1=[]
for e in soup3b.find_all('div',class_="rankings-block__banner--rating"):
    rating1.append(e.text)


rating2=[]
for f in soup3b.find_all('td',class_="table-body__cell rating"):
    rating2.append(f.text)
    
ratings3b=rating1+rating2
print(len(ratings3b))

100

Making DataFrame

In [18]:
df3b=pd.DataFrame({'Batsmen':players3b,'Team':teams3b,'Rating':ratings3b})
df3b.index = np.arange(1,len(df3b)+1)
batsmandf=df3b.head(10)
batsmandf

                  Batsmen                     Team Rating
1              Babar Azam  PAK                        886
2   Rassie van der Dussen                       SA    777
3            Fakhar Zaman                      PAK    755
4             Imam-ul-Haq                      PAK    745
5            Shubman Gill                      IND    738
6            David Warner                      AUS    726
7            Harry Tector                      IRE    723
8             Virat Kohli                      IND    719
9         Quinton de Kock                       SA    718
10           Rohit Sharma                      IND    707

3. Top 10 ODI bowlers along with the records of their team and rating.

In [19]:
# Send get request to the Webpage server to get the source code of the page 
page3c=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup3c=BeautifulSoup(page3c.content)
page3c

In [20]:
player1=[]
for s in soup3c.find_all('div',class_="rankings-block__banner--name-large"):
    player1.append(s.text)

player2=[]
for t in soup3c.find_all('td',class_="table-body__cell rankings-table__name name"):
    player2.append(t.text.replace('\n',''))
players3c=player1+player2
print(len(players3c))

100

In [21]:
team1=[]
for i in soup3c.find_all('div',class_="rankings-block__banner--nationality"):
    team1.append(i.text.replace('\n',''))
    
team2=[]
for j in soup3c.find_all('span',class_="table-body__logo-text"):
    team2.append(j.text)
teams3c=team1+team2
print(len(teams3c))

100

In [22]:
rating1=[] 
for i in soup3c.find_all('div',class_="rankings-block__banner--rating"):
    rating1.append(i.text)
    
rating2=[]
for j in soup3c.find_all('td',class_="table-body__cell rating"):
    rating2.append(j.text)
ratings3c=rating1+rating2
print(len(ratings3c))

100

Making DataFrame

In [23]:
df3c=pd.DataFrame({'Bowlers':players3c,'Team':teams3c,'Rating':ratings3c})
df3c.index = np.arange(1,len(df3c)+1)
bowlersdf=df3c.head(10)
bowlersdf

             Bowlers                     Team Rating
1     Josh Hazlewood  AUS                        705
2     Mohammed Siraj                      IND    691
3     Mitchell Starc                      AUS    686
4         Matt Henry                       NZ    667
5        Trent Boult                       NZ    660
6         Adam Zampa                      AUS    652
7        Rashid Khan                      AFG    640
8     Shaheen Afridi                      PAK    630
9   Mujeeb Ur Rahman                      AFG    630
10     Mohammad Nabi                      AFG    626

# 4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame.                                           
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.                                   
b) Top 10 women’s ODI Batting players along with the records of their team and rating.                                              
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [24]:
# Send get request to the Webpage server to get the source code of the page 
page4a = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup4a = BeautifulSoup(page4a.content)
page4a

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

Teams

In [25]:
team4a=[]
for i in soup4a.find_all('span',class_="u-hide-phablet"):
    team4a.append(i.text)
print(len(team4a))

13

Matches

In [26]:
mt1=[]
for i in soup4a.find_all('td',class_="rankings-block__banner--matches"):
    mt1.append(i.text)

mt2=[]
for j in soup4a.find_all('td',class_="table-body__cell u-center-text"):
    mt2.append(j.text)
del mt2[1:39:2]
matches4a=mt1+mt2
print(len(matches4a))
#matches4a

13

Points

In [27]:
pt1=[]
for i in soup4a.find_all('td',class_="rankings-block__banner--points"):
    pt1.append(i.text)
    
pt2=[]
for j in soup4a.find_all('td',class_="table-body__cell u-center-text"):
    pt2.append(j.text)
del pt2[0:39:2]
points4a=pt1+pt2
print(len(points4a))
#points

13

Ratings

In [28]:
rat1=[]
for i in soup4a.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rat1.append(i.text.replace('\n',''))


rat2=[]
for j in soup4a.find_all('td',class_="table-body__cell u-text-right rating"):
    rat2.append(j.text)
ratings4a=rat1+rat2
print(len(ratings4a))

13

Making DataFrame

In [29]:
womens_team=pd.DataFrame({'Teams':team4a,'Matches':matches4a,'Points':points4a,'Ratings':ratings4a}).head(10)
womens_team.index = np.arange(1,len(womens_team)+1)
print('Top 10 ODI teams in women’s cricket along with the records for matches, points and rating:')

womens_team

Top 10 ODI teams in women’s cricket along with the records for matches, points and rating:

,Teams,Matches,Points,Ratings
1,Australia,21,"3,603",172 ...
2,England,28,"3,342",119
3,South Africa,26,"3,098",119
4,India,27,"2,820",104
5,New Zealand,25,"2,553",102
6,West Indies,27,"2,535",94
7,Thailand,11,821,75
8,Bangladesh,14,977,70
9,Pakistan,27,"1,678",62
10,Sri Lanka,9,479,53

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [30]:
# Send get request to the Webpage server to get the source code of the page 
page4b=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup4b=BeautifulSoup(page4b.content)
page4b

Players

In [31]:
pl1=[]
for i in soup4b.find_all('div',class_="rankings-block__banner--name-large"):
    pl1.append(i.text)


pl2=[]
for j in soup4b.find_all('td',class_="table-body__cell rankings-table__name name"):
    pl2.append(j.text.replace('\n',''))
players4b=pl1+pl2
len(players4b)

100

Teams

In [32]:
t1=[]
for i in soup4b.find_all('div',class_="rankings-block__banner--nationality"):
    t1.append(i.text.replace('\n',''))

t2=[]

for j in soup4b.find_all('span',class_="table-body__logo-text"):
    t2.append(j.text)
teams4b=t1+t2
print(len(teams4b))

100

Ratings

In [33]:
r1=[]
for i in soup4b.find_all('div',class_="rankings-block__banner--rating"):
    r1.append(i.text)

r2=[]
for j in soup4b.find_all('td',class_="table-body__cell rating"):
    r2.append(j.text)
ratings4b=r1+r2
print(len(ratings4b))

100

Making DataFrame

In [34]:
w_battings_df=pd.DataFrame({'Batting Players':players4b,'Team':teams4b,'Rating':ratings4b}).head(10)
w_battings_df.index=np.arange(1,len(w_battings_df)+1)
print('Top 10 Womens ODI Battting Players :')
w_battings_df

Top 10 Womens ODI Battting Players :

        Batting Players                     Team Rating
1           Beth Mooney  AUS                        754
2       Laura Wolvaardt                       SA    732
3        Natalie Sciver                      ENG    731
4           Meg Lanning                      AUS    717
5      Harmanpreet Kaur                      IND    716
6       Smriti Mandhana                      IND    714
7   Chamari Athapaththu                       SL    673
8          Ellyse Perry                      AUS    626
9        Tammy Beaumont                      ENG    595
10      Stafanie Taylor                       WI    588

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [35]:
# Send get request to the Webpage server to get the source code of the page 
page4c=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup4c=BeautifulSoup(page4c.content)
page4c

Players

In [36]:
pr1=[]
for i in soup4c.find_all('div',class_="rankings-block__banner--name-large"):
    pr1.append(i.text)
    
pr2=[]
for j in soup4c.find_all('td',class_="table-body__cell rankings-table__name name"):
    pr2.append(j.text.replace('\n',''))
players4c=pr1+pr2
len(players4c)

20

Teams

In [37]:
tm1=[]
for i in soup4c.find_all('div',class_="rankings-block__banner--nationality"):
    tm1.append(i.text.replace('\n',''))
    
tm2=[]
for j in soup4c.find_all('span',class_="table-body__logo-text"):
    tm2.append(j.text)
teams4c=tm1+tm2
len(teams4c)

20

Ratings

In [38]:
rg1=[]
for i in soup4c.find_all('div',class_="rankings-block__banner--rating"):
    rg1.append(i.text)
    
rg2=[]
for j in soup4c.find_all('td',class_="table-body__cell rating"):
    rg2.append(j.text)
ratings4c=rg1+rg2
len(ratings4c)

20

Making DataFrame

In [39]:
w_alldf=pd.DataFrame({'All-Rounder':players4c,'Teams':teams4c,'Ratings':ratings4c}).head(10)
w_alldf.index = np.arange(1,len(w_alldf)+1)
print('Top 10 Womens ODI All-Rounder:')
w_alldf

Top 10 Womens ODI All-Rounder:

          All-Rounder                   Teams Ratings
1     Hayley Matthews  WI                         373
2      Natalie Sciver                     ENG     371
3        Ellyse Perry                     AUS     366
4      Marizanne Kapp                      SA     349
5         Amelia Kerr                      NZ     336
6       Deepti Sharma                     IND     322
7    Ashleigh Gardner                     AUS     292
8       Jess Jonassen                     AUS     250
9            Nida Dar                     PAK     232
10  Sophie Ecclestone                     ENG     205

# 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame. 
1) Headline              
ii) Time                              
iii) News Link

In [40]:
# Send get request to the Webpage server to get the source code of the page 
page5=requests.get('https://www.cnbc.com/world/?region=world')
page5

In [41]:
soup5=BeautifulSoup(page5.content)

1 Headline

In [42]:
headline=[]

for i in soup5.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
print(len(headline))

30

2.Time

In [43]:
time=[]

for i in soup5.find_all('span',class_="LatestNews-wrapper"):
    time.append(i.text)
print(len(time))

30

3.News Link

In [44]:
link = []
for i in soup5.find_all('a',class_="LatestNews-headline"):
    link.append(i['href'])
print(len(link))

30

Making DataFrame

In [45]:
import pandas as pd
df_5=pd.DataFrame({'Headline':headline,'Time':time,'News Links':link})
df_5.index = np.arange(1,len(df_5)+1)
df_5.head(10)

,Headline,Time,News Links
1,Ariana Madix is selling 'Scandoval' merch and ...,22 Min Ago,https://www.cnbc.com/2023/07/01/vanderpump-rul...
2,"40-year-old pays $1,600/month to live in a tin...",1 Hour Ago,https://www.cnbc.com/2023/07/01/40-year-old-pa...
3,Meet the couples winning free weddings worth u...,1 Hour Ago,https://www.cnbc.com/2023/07/01/couples-win-fr...
4,4 lucrative side hustles for summer 2023—one p...,1 Hour Ago,https://www.cnbc.com/2023/07/01/side-hustles-f...
5,The allure of using an annuity is a guaranteed...,2 Hours Ago,https://www.cnbc.com/2023/07/01/heres-how-to-g...
6,Why Ford says new high-tech features for Super...,2 Hours Ago,https://www.cnbc.com/2023/07/01/ford-super-dut...
7,Local business owners applaud July 1 minimum w...,2 Hours Ago,https://www.cnbc.com/2023/07/01/local-business...
8,Kim Kardashian’s $3.2 billion Skims brand star...,2 Hours Ago,https://www.cnbc.com/2023/07/01/kim-kardashian...
9,How the U.S. power grid can prepare for the EV...,2 Hours Ago,https://www.cnbc.com/2023/07/01/why-the-ev-boo...
10,Make way for 'an old school money contraction'...,3 Hours Ago,https://www.cnbc.com/2023/07/01/make-way-for-a...

# 6) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame.                  
i) Paper Title                                      
ii) Authors                 
iii) Published Date             
iv) Paper URL

In [46]:
# Send get request to the Webpage server to get the source code of the page 
page6=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup6=BeautifulSoup(page6.content)
page6

1.Paper Title

In [47]:
paper_title=[]

for i in soup6.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    paper_title.append(i.text)
    
print(len(paper_title))

24

2.Authors

In [48]:
authors=[]

for i in soup6.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
print(len(authors))

24

3.Published Date

In [49]:
published_date=[]

for i in soup6.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    published_date.append(i.text)
print(len(published_date))

24

4.Paper URL

In [50]:
paper_url=[]
for i in soup6.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    paper_url.append(i['href'])
print(len(paper_url))

24

Making DataFrame

In [51]:
articlesdf=pd.DataFrame({'Paper Title':paper_title,'Authors':authors,'Published Date':published_date,'Paper URL':paper_url})
articlesdf.index = np.arange(1,len(articlesdf)+1)
articlesdf

,Paper Title,Authors,Published Date,Paper URL
1,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
2,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
4,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
5,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
6,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
7,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
8,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
9,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
10,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
12,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
13,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
14,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
15,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
16,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
17,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
18,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
19,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
20,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
21,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
22,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
23,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
24,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# 7. Write a python program to scrape mentioned details from dineout.co.in and make data frame.                           
i) Restaurant name                 
ii) Cuisine                                                                         
iii) Location                                                             
iv) Ratings                                          
v) Image UR

In [52]:
# Send get request to the Webpage server to get the source code of the page 
page7=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup7=BeautifulSoup(page7.content)
page7

i) Restaurant name

In [53]:
r_name=[]

for i in soup7.find_all('a',class_="restnt-name ellipsis"):
    r_name.append(i.text)
len(r_name)

9

ii) Cuisine

In [54]:
cuisine=[]
for i in soup7.find_all('div',class_="detail-info"):
    cuisine.append(i.text.split('|')[1])
len(cuisine)

9

iii) Location

In [55]:
location= []
for i in soup7.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
len(location)

9

iv) Ratings

In [56]:
ratings=[]
for i in soup7.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)
len(ratings)

9

v) Image UR

In [57]:
images=[]
for i in soup7.find_all('img',class_="no-img"):
    images.append(i['data-src'])
len(images)

9

Making DataFrame

In [58]:
dine_df=pd.DataFrame({'Restaurants Name':r_name, 'Cuisines':cuisine, 'Location':location, 'Ratings':ratings, 'Image URL':images})
dine_df.index=np.arange(1,len(dine_df)+1)
dine_df

,Restaurants Name,Cuisines,Location,Ratings,Image URL
1,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
7,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
8,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...